jupyter==1.0.0
matplotlib==1.5.1
scipy==0.17.1
numpy==1.11.1
plotly==1.12.3
pandas==0.18.1
csvkit==0.9.1
seaborn==0.7.1
statsmodels==0.6.1
folium==0.2.1
networkx==1.11
ggplot==0.10.4
bokeh==0.12.0
# for the course
xlrd==1.0.0
sqlalchemy==1.0.14
scikit-learn==0.17.1
pydot2==1.0.33
psycopg2==2.6.2
sh==1.11
pathlib==1.0.1
